//----------  CSS-URL & SPRITES  ---------

$icons: sprite-map('icons/*.png', $spacing: 7px, $layout: vertical);
@import 'icons/*.png';
$css-url: '../img/css/';

//----------  FONTS ---------

$font-url: '../fonts/';

@font-face{
	font-family: 'MetaPro';
	src:url('#{$font-url}/metaPro/MetaCompPro-Medium.eot');
	src:url('#{$font-url}/metaPro/MetaCompPro-Medium.eot?#iefix') format('embedded-opentype'),
	url('#{$font-url}/metaPro/MetaCompPro-Medium.woff') format('woff'),
	url('#{$font-url}/metaPro/MetaCompPro-Medium.ttf') format('truetype');
	font-style:normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Lato Regular';
	src: url('#{$font-url}/Lato/lato-regular.eot');
	src: url('#{$font-url}/Lato/lato-regular.eot?#iefix') format('embedded-opentype'),
	url('#{$font-url}/Lato/lato-regular.woff2') format('woff2'),
	url('#{$font-url}/Lato/lato-regular.woff') format('woff'),
	url('#{$font-url}/Lato/lato-regular.ttf') format('truetype'),
	url('#{$font-url}/Lato/lato-regular.svg#latoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato Light';
	src: url('#{$font-url}/Lato/lato-light.eot');
	src: url('#{$font-url}/Lato/lato-light.eot?#iefix') format('embedded-opentype'),
	url('#{$font-url}/Lato/lato-light.woff2') format('woff2'),
	url('#{$font-url}/Lato/lato-light.woff') format('woff'),
	url('#{$font-url}/Lato/lato-light.ttf') format('truetype'),
	url('#{$font-url}/Lato/lato-light.svg#latolight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato Semibold';
	src: url('#{$font-url}/Lato/lato-semibold.eot');
	src: url('#{$font-url}/Lato/lato-semibold.eot?#iefix') format('embedded-opentype'),
	url('#{$font-url}/Lato/lato-semibold.woff2') format('woff2'),
	url('#{$font-url}/Lato/lato-semibold.woff') format('woff'),
	url('#{$font-url}/Lato/lato-semibold.ttf') format('truetype'),
	url('#{$font-url}/Lato/lato-semibold.svg#latosemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}

$fonts: (
	regular: 'Lato Regular',
	light: 'Lato Light',
	semibold: 'Lato Semibold',
	meta: 'MetaPro'
	);

@function family($font-key, $font-map: $fonts){

	@if (map-has-key($font-map, $font-key)){
		@return map-get($font-map, $font-key)
	}

	@return 'FONT map does not contain font `#{$font-key}`';
}

//----------  MEDIA  ----------

$breakpoints: (
	xs: '(min-width: 480px)',
	sm: '(min-width: 768px)',
	md: '(min-width: 992px)',
	lg: '(min-width: 1220px)',
	max-md: '(max-width: 1219px)',
	max-sm: '(max-width: 991px)',
	max-xs: '(max-width: 767px)'
	);

@mixin media-screen($breakpoint-key, $breakpoint-map: $breakpoints) {
	@if map-has-key($breakpoint-map, $breakpoint-key) {
		@media screen and #{map-get($breakpoint-map, $breakpoint-key)} {
			@content;
		}
	}
	@else {
		@warn "@media map does not contain breakpoint `#{$breakpoint-key}`.";
	}
}

//----------  COLORS  ----------

$colors: (
	
	);

@function color($color-key, $color-map: $colors){
	@if (map-has-key($color-map, $color-key)){
		@return map-get($color-map, $color-key)
	}
	@return 'COLOR map does not contain color `#{$color-key}`';
}