@import '_mixins';

//------ FLEXISLIDER -----//
.flexslider{
    overflow: hidden;
    height: 100%;

    .flex-viewport{
        height: 100%;
    }

    .slides {
        @include size(100%);
        margin: 0;
        padding: 0;

        > li{
            position: relative;
            overflow: hidden;
            @include size(100%);
            margin: 0;
            padding: 0;

            > img{
                @include absolute(top left right bottom);
                margin: auto;
                min-width: 100%;
                min-height: 100%;
            }
        }
    }

    .flex-direction-nav{
        a{
            @include size(30px, 50px);
            @include absolute(top 50%);
            margin-top: -25px;
            z-index: 5;
            font-size: 0;
            outline: 0;

            &:hover{
                opacity: .8;
            }

            &.flex-prev{
                left: 30px;
                &:before{
                    @include icon-absolute-center($icons, slide-left);
                }
            }

            &.flex-next{
                right: 30px;
                &:before{
                    @include icon-absolute-center($icons, slide-right);
                }
            }
        }
    }

    .flex-control-nav{
        @include absolute(bottom 22px left right);
        z-index: 15;
        text-align: center;
        line-height: 0;

        li{
            @include ib(top);
            margin: 0 2px;
        }

        a{
            @include font('Arial' 12px normal);
            line-height: 1;
            color: #b7b7b7;
            white-space: nowrap;
            display: block;
            margin: 0 4px;
            position: relative;
            padding-bottom: 3px;
            border-bottom: 2px solid #777777;
            cursor: pointer;
            background-color: transparent;
            text-decoration: none !important;
            @include prefix((
                transition: all .2s ease-in
                ));

            &.flex-active{
                border-color: #ad00e6;
                color: #fff;

                &:after{
                    @include content(8px, 2px);
                    @include absolute(bottom -2px right);
                    background-color: #fff;
                }
            }
        }
    }
}