@import 'compass/utilities/sprites';
@import '_configurations';

@import 'awesome/_font-awesome';
@import '_bootstrap';
@import '_plugins';

@import '_mixins';

header{
	position: relative;
	z-index: 100;
	padding-top: 42px;

	%head-list-links{
		font-size: 0;
		margin-bottom: 0;

		li{
			vertical-align: top;
		}
	}

	.head-top{
		@include fixed(top left right);
		z-index: 100;
		height: 42px;
		line-height: 42px;
		color: #fff;
		box-shadow: 0 1px 1px 0 rgba(#fff, .2);
		background-image: url('#{$css-url}top-head-bg.png');
		background-repeat: no-repeat;
		background-position: -160px 0;
		background-color: #1a002a;

		&:before{
			@include content(100%);
			@include absolute(top left);
			background-color: rgba(#000, .15);
			z-index: 1;
		}

		.bordered{
			border:{
				left: 1px solid #785096;
				right: 1px solid #785096;
			}

			+ .bordered{
				margin-left: -1px;
			}
		}

		.contact{
			padding: 0 20px;
		}
	}

	.head-main{
		padding: 20px 0;
		background-color: #fff;
		box-shadow: 0 2px 2px 0 rgba(#000, .05);

		.main-content{
			position: relative;
		}

		.logo{
			@include relative(top -4px);
			z-index: 5;
			line-height: 0;
			margin-right: 75px;
		}

		.side-logo{
			@include absolute(top right);
		}

		.model-list{
			@include font(family(regular) 12px);
			margin-bottom: 0;
			line-height: 1;

			> li{
				border-left: 1px solid #d7d7d7;
				vertical-align: top;
				padding: 2px 12px;

				a{
					@include font(family(meta) 13px normal);
					display: inline-block;
					color: #000;
					position: relative;
					z-index: 15;

					&:hover{
						color: #7b6393;
						text-decoration: none;
					}

					&.active{
						color: #7b6393;

						&:after{
							@include content(0);
							@include absolute(bottom -25px left 50%);
							margin-left: -5px;
							border: 6px solid transparent;
							border-bottom-color: #000;
						}

						&:before{
							content: none;
						}
					}
				}

				&.all{
					padding-top: 25px;

					a{
						padding: 0 5px;

						&:before{
							content: none;
						}

						&:after{
							@include content(0, 1px);
							@include absolute(bottom -2px left right);
							background-color: #7b6393;
							margin: 0 auto;
							@include prefix((
								transition: all .2s linear
								));
						}

						&:hover:after{
							width: 76px;
						}
					}
				}
			}

			.model-name{
				font-size: 13px;
				font-style: italic;
				margin: 0 0 12px;
				color: #7b6393;
			}

			.model-descr{
				@include absolute(top 100% left right);
				padding-top: 15px;
				margin-top: -10px;
				z-index: 10;
				color: #fff;
				display: none;
				@include prefix((
					transition: all .3s linear
					));

				.bg-line{
					background: url('#{$css-url}nav-widget.png') no-repeat 0 0;
					@include absolute(top left right);
					height: 15px;
					z-index: 10;
				}

				.inner-wrap{
					background-color: #fff;
					position: relative;
					height: 510px;
					margin-top: 7px;
				}

				.model-bg{
					width: 100%;
				}

				.model-var{
					font-family: family(meta);
					@include absolute(bottom left right);
					z-index: 2;
					overflow: hidden;
					padding: 25px 25px 30px 260px;
					background-color: #fff;

					.main-links{
						margin: 0;
						padding: 0;

						li + li {
							margin-top: 6px;
						}

						a{
							font-family: family(meta) !important;
							display: block;
							cursor: pointer;
							background: #959595;
							height: 25px;
							line-height: 27px;
							padding: 0 13px;
							color: #fff;
							font-size: 11px;
							text-transform: uppercase;
							text-decoration: none;
							white-space: nowrap;

							i{
								margin-right: 6px;
							}

							&:hover{
								background: lighten(#959595, 5%);
							}
						}
					}

					.mod-info{
						margin-left: 32px;

						h2{
							margin: 0;
							font-size: 26px;
							color: #342064;
							line-height: 1em;
							margin-bottom: 5px;
							margin-right: 20px;
						}

						h3{
							margin: 0;
							margin-bottom: 12px;
							font-size: 16px;
							line-height: 1em;
							font-weight: normal;
							color: #7d7d7d;
							text-transform: uppercase;
							font-style: italic;
						}

						ul{
							display: block;
							list-style-type: disc;
							padding: 0;
							margin: 0;
							margin-left: 16px;
							line-height: 1em;
							font-size: 12px;
							color: #555;
							text-transform: none;

							li{
								line-height: 1.3em;
								margin-bottom: 4px;
							}
						}
					}
				}

				.side-menu{
					font-family: family(meta);
					@include absolute(left top);
					z-index: 5;
					padding-top: 10px;
					width: 220px;
					height: 100%;
					background: #e1e1e1 url('#{$css-url}flyout-leftcol-shadow.png') repeat-y right top;

					ul{
						margin: 0;
						padding: 2px 0 0;
						padding-bottom: 5px;
						background: url('#{$css-url}flyout-menu-shadow.png') repeat-x left bottom;
						list-style: none;

						li{
							display: block;
							height: 83px;
							background: url('#{$css-url}flyout-menu-shadow.png') repeat-x left top;

							&.on{
								background: #fff none;
							}

							&:hover{
								background: #fff none;
							}

							&:first-child{
								background: none;
							}

							a{
								position: relative;
								display: block;
								height: 83px;
								padding-left: 15px;
								text-decoration: none;

								h3{
									position: relative;
									margin: 0;
									padding: 0;
									padding-top: 20px;
									color: #000;
									font-weight: normal;
									font-size: 14px;
									line-height: 1em;
									z-index: 199;
								}

								img{
									position: absolute;
									display: block;
									width: 140px;
									height: auto;
									right: 5px;
									bottom: 5px;
									z-index: 99;
									border: none;
								}
							}
						}
					}
				}

				.model-info{
					font-family: family(meta);
					@include absolute(top 40px left 260px);
					line-height: 1.1;
					z-index: 5;
					max-width: 500px;

					.title{
						font-size: 64px;
						line-height: 64px;
						margin: 0;
						margin-bottom: 25px;
						text-transform: none !important;
					}

					.start-at{
						font-size: 12px;
						line-height: 1em;
						margin-bottom: 8px;
						text-transform: none !important;
					}

					.price{
						font-size: 26px;
						margin-bottom: 20px
					}

					.link-bordered{
						font-family: family(light);
						color: #fff;

						&:hover, &.active{
							color: #fff;
							background-color: rgba(#fff, .25);
						}

						i{
							margin-left: 5px;
						}
					}
				}
			}

			ul{
				color: #000;
			}
		}
	}

	.model-menu{
		position: relative;
		z-index: 1;
		background-color: #000;
		height: 41px;
		line-height: 41px;

		.list-inline{
			margin-bottom: 0;
		}

		a{
			font-family: family(regular);
			color: #a9a9a9;
			@include ib(top);
			padding: 0 9px;

			&:hover, &.active{
				@include set-colors(#fff, #383939);
				text-decoration: none;
			}

			&.link-testdrive{
				position: relative;
				padding-left: 35px;

				&:before{
					@include icon-absolute-vertical($icons, drive, left 6px);
				}
			}
		}
	}

	.container{
		position: relative;
		z-index: 2;
	}

	.top-nav{
		@extend %head-list-links;

		.bordered{

			a{
				color: #fff;
				padding: 0 10px;
				margin: 0 -5px;

				&:hover{
					background-color: rgba(#fff, .25);
				}
			}

			+ li:not(.bordered){
				margin-left: 28px;
			}
		}

		a{
			@include font(family(regular) 12px normal);
			display: block;
			padding: 0 4px;
			color: #a6a6a6;

			&:hover{
				color: lighten(#a6a6a6, 15%);
				text-decoration: none;
			}
		}
	}

	.top-set{
		@extend %head-list-links;

		li{
			font-size: 14px;
		}

		.bordered a{
			display: block;
			@include size(44px, 42px);
			cursor: pointer;
			position: relative;
			padding: 0 10px;
			margin: 0 -5px;

			&:hover{
				background-color: rgba(#fff, .2);
			}

			&.map:before{
				@include icon-absolute-center($icons, map);
			}

			&.search:before{
				@include icon-absolute-center($icons, search);
			}
		}
	}
}

%titles{
	color: #000;
	line-height: 1.1;
}

.title{
	&-main{
		@include font(family(light) 47px normal);
		margin-bottom: 35px;
		text-transform: none;
		@extend %titles;

		.list-inline{
			@include ib;
			margin: 0;
			font-size: 0;
			margin-left: 40px;

			li{
				font-size: 14px;
			}
		}
	}

	&-upper{
		@include font(family(semibold) 12px normal);
		margin-bottom: 17px;
		text-transform: uppercase;
		@extend %titles;
	}
}

h1,h2,h3 [class*=title-]{
	display: inline-block;
	padding: 0;
	margin: 0;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	color: inherit;
}

%links{
	display: inline-block;
}

.link{
	&-underline{
		@include font(family(light) 16px);
		@extend %links;
		text-decoration: underline;
		color: #838693;

		&:hover{
			text-decoration: none;
			color: #838693;
		}

		.title-main & {
			margin-left: 20px;
		}
	}

	&-bordered{
		border: 1px solid #fff;
		line-height: 33px;
		padding: 0 1em;
		@extend %links;
		text-decoration: none !important;

		&.active{
			&:before, &:after{
				content: none !important;
			}
		}

		.dashed-style &{
			font-size: 13px;
			color: #000;
			border-color: transparent;
			line-height: 26px;
			position: relative;

			&:before{
				@include content(auto, 0);
				@include absolute(left 1em right 1em bottom 3px);
				border-bottom: 1px dashed #57347e;
			}

			&:hover, &.active{
				border-color: #666666;

				&:before{
					content: none;
				}
			}
			
		}
	}

	&-print{
		font-size: 16px;
		line-height: 25px;
		padding-right: 38px;
		@extend %links;
		color: #000;
		position: relative;
		text-decoration: none;

		&:before{
			@include content(25px);
			@include absolute(top right);
			border-radius: 50%;
			background-color: #000;
		}

		&:after{
			@include icon-absolute($icons, print, right 5px top 5px);
		}

		&:hover{
			color: #000;
			text-decoration: underline;
		}
	}
}

.container{
	min-width: 1170px !important;
}

.white-light{
	@include linear-gradient(to left, #dae1e5 , #fff, #fff, #dae1e5);
}

.prpl-light-cars{
	background: url('#{$css-url}prpl-light-bg-cars.jpg') no-repeat center 0;
	background-size: cover;
}

.prpl-light{
	background: url('#{$css-url}prpl-light-bg.jpg') no-repeat center 0;
	background-size: cover;
}

section{
	.container{
		position: relative;
		z-index: 1;
	}

	&.model-overview{
		overflow: hidden;
		position: relative;
		padding: 80px 0;
		min-height: 535px;
		color: #9b9c9d;

		.model-layer{
			@include absolute(top left right bottom);
			line-height: 0;

			img{
				height: 100%;
				@include absolute(top left right bottom);
				margin: auto;
			}
		}

		.inner-wrap{
			max-width: 340px;
		}

		.title{
			@include font(family(meta) 60px normal);
			line-height: 1;
			padding: 0;
			color: #585858;
			margin-bottom: 18px;
		}

		.subtitle{
			color: #737373;
			font-size: 18px;
			line-height: 1.1;
			margin-bottom: 25px;
		}

		p{
			line-height: 1.2;
			margin-bottom: 13px;
		}

		.model-info{
			overflow: hidden;
			margin-top: 18px;
			border-top: 1px solid #d7d9da;
			padding: 20px 0;

			.top-line{
				font-size: 15px;
				line-height: 1;
				color: #585858;
				margin-bottom: 37px;

				a{
					@include font(family(regular) 15px normal);
					color: #585858;
					margin-top: 4px;

					i{
						margin-left: 5px;
					}

					&:hover{
						border-color: #585858;
						color: #585858;
					}
				}

				span{
					@include font(family(regular) 28px normal);
				}
			}

			.info{
				@include ib(top);
				color: #585858;
				padding-right: 15px;

				+ .info {
					border-left: 1px solid #d2d3d3;
					padding-left: 15px;
				}

				.light{
					color: #aaabab;
				}

				.normal{
					line-height: 1;
					font-size: 15px;
					margin-bottom: 10px;
					padding: 0;
				}

				.large{
					line-height: 1;
					font-size: 22px;
					margin-bottom: 11px;
					padding: 0;
				}

				.small{
					line-height: 1;
					@include font(family(regular) 12px normal);
					margin: 0;
				}
			}
		}
	}

	&.head-slider{
		height: 575px;
		overflow: hidden;
		background-color: #000;

		.slide-descr{
			@include font(family(regular) 16px);
			@include absolute(top right);
			z-index: 1;
			color: #fff;
			width: 395px;
			padding:{
				top: 35px;
				right: 105px;
			}

			&.left{
				left: 0;
				padding-left: 105px;
				padding-right: 0;
			}

			.title{
				@include font(family(meta) 85px normal);
				line-height: 1;
				margin: 0 0 35px;
			}

			p{
				font-family: family(light);
			}

			.list-inline{
				margin-top: 35px;
			}

			.link-bordered{
				color: #fff;
				font-size: 15px;
				&:hover, &.active{
					@include set-colors(#fff, rgba(#fff, .2));
				}
			}
		}
	}

	&.services{
		position: relative;
		border-top: 3px solid #d8dfe3;
		min-height: 860px;
		padding: 100px 0 260px;

		&:before{
			@include content(100%);
			@include absolute(top left);
			background: url('#{$css-url}serv-bg.png') no-repeat right bottom;
		}

		.title-main{
			margin-bottom: 60px;
		}

		.title-upper{
			margin-left: 22px;
		}

		.main-links{
			margin-bottom: 20px;

			li + li {
				margin-top: 4px;
			}

			.link-bordered{
				display: block;
				font-size: 22px;
				line-height: 78px;
				color: #444;
				border-color: #dcdcdc;

				i{
					@include prefix((
						transition: all .2s linear
						));
				}

				&:hover, &.active{
					border-color: darken(#dcdcdc, 10%),;
					text-shadow: 0 1px 0 rgba(#fff, .65);
					background-color: rgba(#fff, .55);

					i{
						margin-left: 3px;
					}
				}
			}
		}

		.add-links{
			line-height: 1.1;

			li + li {
				margin-top: 10px;
			}

			a{
				display: inline-block;
				position: relative;
				@include font(family(regular) 12px);
				color: #838693;
				margin-left: 22px;

				&:after{
					@include content(0, 1px);
					@include absolute(bottom -1px left);
					background-color: #838693;
					@include prefix((
						transition: all .15s linear
						));
				}

				&:hover{
					text-decoration: none;
					color: darken(#838693, 15%);

					&:after{
						width: 100%;
					}
				}

				i{
					margin-left: 2px;
				}
			}
		}
	}

	&.sale-used{
		position: relative;
		padding: 100px 0 115px;

		.title-main{
			color: #fff;
		}

		.container{
			min-height: 585px;
		}

		.intro{
			max-width: 300px;
			color: #828283;

			.title{
				display: block;
				font-size: 22px;
				margin-bottom: 14px;
				color: #fff;
			}
		}

		.main-links{
			@include absolute(bottom 0 left 15px right 15px);
			margin-bottom: 0;

			.link-bordered{
				@include font(family(regular) 15px);
				color: #fff;

				&:hover, &.active{
					@include set-colors(#fff,  rgba(#fff, .2));
					text-shadow: 0 1px rgba(#000, .65);
				}
			}
		}
	}

	&.main-news{
		border-top: 1px solid #fff;
		padding: 72px 0;
	}

	&.gallary-pzl{
		padding: 65px 0 100px;

		.gall-block{
			position: relative;
			margin-top: 20px;
			padding: 10px 0 20px;

			a{
				display: block;
				height: 100%;
				line-height: 0;
				overflow: hidden;
				border: 2px solid #fff;

				img{
					min-width: 100%;
					@include prefix((
						transition: all .35s linear
						));
				}

				&:hover{
					opacity: .9;
					z-index: 5;
					
					img{
						@include prefix((
							transform: scale(1.1)
							));
					}
				}
			}

			%pzl-sides-style{
				position: relative;
				margin: -2px;
				z-index: 1;
			}

			.top-img{
				height: 315px;
				@extend %pzl-sides-style;

				.pull-left{
					width: 55%;
				}

				.pull-right{
					width: 28%;
				}

				.sm{
					@include absolute(left 55%);
					width: 17%;

					&.top{
						top: 0;
						height: 140px;
					}

					&.bottom{
						bottom: 0;
						height: 175px;
					}
				}
			}

			.bottom-img{
				height: 205px;
				margin: -2px;
				@extend %pzl-sides-style;

				a{
					&:first-child{
						width: 35%;
					}

					&:nth-child(2){
						width: 25%;
					}	

					&:last-child{
						width: 40%;
					}
				}
			}
		}

		.more-load{
			padding-top: 20px;
			clear: both;

			.link-bordered{
				color: #bcbcbc;
				border-color: #bcbcbc;
				padding: 0 25px;
				line-height: 40px;

				i{
					font-size: 19px;
					margin-left: 14px;
				}

				&:hover, &.active{
					color: #000;
					border-color: #000;
				}
			}
		}
	}

	&.features{
		min-height: 800px;
		padding: 100px 0 0;

		.title-main{
			color: #fff;
		}

		.link-bordered{
			color: #a6a6a6;

			&:hover, &.active{
				color: #fff;
				border-color: #fff;
			}
		}
	}

	&.equipment{
		padding: 75px 0 95px;

		.title-main{
			text-align: center;
			border-bottom: 1px solid #d3d3d3;
			padding-bottom: 28px;

			.subtitle{
				margin-top: 10px;
				font-size: 16px;
			}
		}

		.equip-box{
			margin: 20px 0;
			height: 325px;
			overflow: hidden;
			position: relative;

			.img-block{
				height: 165px;
				padding-top: 20px;
				line-height: 0;

				a:hover{
					opacity: .85;
				}

				img{
					max-width: 100%;
				}
			}

			.descr-block{
				@include absolute(bottom left 15px right 15px);
				background-color: rgba(#fff, .85);
				z-index: 1;
				padding-top: 8px;

				.name{
					font-size: 16px;
					line-height: 1;
					margin-bottom: 12px;
					color: #000;

					a{
						text-decoration: none;
						color: #000;

						&:hover{
							color: #682b99;
						}
					}

					i{
						vertical-align: super;
						color: #682b99;
					}
				}

				.price{
					color: #a5a7a9;
					font-size: 16px;
					line-height: 1;
					margin-bottom: 20px;
				}

				ul{
					margin: 0;
				}

				[type=checkbox]{
					@include absolute(left -9999px);

					&:checked + label{
						color: darken(#682b99, 7%);
						border-color: darken(#682b99, 7%);

						&:after{
							background-color:  darken(#682b99, 7%);
						}
					}

					
				}

				.link-bordered{
					font-size: 13px;
					line-height: 26px;
					color: #000;
					border-color: #666666;

					&.modif{
						cursor: pointer;
						position: relative;
						font-weight: normal;
						padding-left: 40px;

						&:before{
							@include content(30px, 100%);
							@include absolute(left right);
							border-right: 1px solid #666666;
							@include prefix((
								transition: all .15s ease
								));
						}

						&:after{
							@include content(9px);
							@include absolute(left 10px top 8px);
							border: 1px solid #666666;
							background-color: #e8e8e8;
							@include prefix((
								transition: all .15s ease
								));
						}
					}

					i{
						margin-left: 11px;
					}

					&:hover{
						color: #682b99;
						border-color: #682b99;

						&:before{
							border-color: #682b99;
						}
					}
				}

			}
		}
	}

	&.technical-info{
		padding: 75px 0 170px;
		background-color: #f0eff0;

		.title-main{
			padding-bottom: 20px;
			border-bottom: 2px solid #000;
			margin-bottom: 15px;

			.link-print{
				margin-top: 25px;
			}
		}

		.dashed-style{
			background-color: #fff;
			padding: 15px 10px;
			margin-left: 0;
			margin-bottom: 30px;

			li{
				padding: 0 19px;
			}
		}

		.tech-table{
			width: 100%;

			.mode{
				@include ib;
				@include size(6px);
				border-radius: 50%;
				border: 1px solid #000;
				background-color: transparent;
				margin: -3px 7px 0;

				&.active{
					background-color: #000;
				}
			}

			thead{

				tr{
					border-bottom: 1px solid #000;
				}

				th{
					@include font(family(regular) 16px normal);
					text-align: center;
					line-height: 1;
					color: #000;
					padding: 15px 0;

					&:first-child{
						text-align: left;
					}
				}

				a{
					@include ib;
					@include font(family(light) 13px);
					color: #000;
					cursor: pointer;

					+ a {
						margin-left: 11px;
					}

					&:hover{
						color: #000;
					}
				}
			}

			tbody{

				tr:first-child td{
					padding-top: 30px;
				}

				tr + tr {
					border-top: 1px solid #a8a7a8;
				}

				td{
					@include font(family(light) 16px normal);
					color: #000;
					line-height: 1.1;
					padding: 15px 0;
				}
			}
		}
	}

	&.contacts{
		padding: 60px 0 210px;

		.bordered{
			border-right: 1px solid #d5c6df;
			margin-right: 20px;
		}

		.link-bordered{
			line-height: 27px;
			color: #838693;
			border-color: transparent;

			&:hover, &.active{
				border-color: #666666;
				color: #666666;
			}
		}

		form{
			display: block;
			max-width: 380px;
			margin-top: 55px;

			.form-group:last-child{
				padding-top: 15px;
			}

			textarea{
				height: 115px;
			}

			[type=submit]{
				@include font(family(regular) 14px);
				@include set-colors(#fff, #000);
				border: 0;
				cursor: pointer;
				outline: 0;
				line-height: 34px;
				padding: 0 18px;
				display: inline-block;
				text-transform: uppercase;

				&:hover{
					opacity: .85;
				}
			}
		}

		.address{
			overflow: hidden;
			margin-bottom: 50px;
			color: #000;

			a{
				color: #000;

				&:hover{
					color: lighten(#000, 15%);
				}

				i{
					margin-left: 7px;
				}
			}

			.img-block{
				font-size: 18px;
				overflow: hidden;
				margin-bottom: 25px;

				img{
					display: block;
					margin-bottom: 16px;
				}
			}

			li + li {
				margin-top: 11px;
			}
		}

		.phone{
			font-size: 28px;
			color: #000;
			line-height: 1;
			margin-bottom: 15px
		}

		.email{
			font-size: 18px;
			line-height: 1;
			color: #005dc5;
		}
	}
}

#feature-slider{
	position: relative;
	margin-top: 80px;
	padding: 0 25px;

	&:before, &:after{
		@include content(330px, 175px);
		@include absolute(top);
		z-index: 1;
	}

	&:before{
		left: 25px;
		@include linear-gradient(to left, transparent, rgba(#000, .95));
	}

	&:after{
		right: 25px;
		@include linear-gradient(to right, transparent, rgba(#000, .95));
	}

	.img{
		line-height: 0;
		height: 175px;
	}

	ul{
		list-style: none;
	}

	.flex-direction-nav a{
		top: 65px;

		&.flex-prev{
			left: 200px; 
		}

		&.flex-next{
			right: 200px;
		}
	}

	.slide-descr{
		padding-top: 15px;
		padding-right: 40px;
		@include font(family(regular) 13px normal);
		line-height: 1.25;
		color: #767676;

		.title{
			@include font(family(regular) 15px normal);
			padding: 0;
			margin-bottom: 15px;
			color: #fff;
		}
	}

	.flex-control-nav{
		display: none;
	}
}

footer{
	@include font(family(regular) 12px normal);
	padding: 45px 0;
	@include set-colors(#8b8a8a, #5c5a5b);
	box-shadow: inset 0 20px 20px 0 rgba(#000, .2);
	position: relative;
	z-index: 1;

	.main-content{
		overflow: hidden;
		padding: 35px 0;
	}

	.bottom-links{
		@include absolute(bottom left right);
		background-color: #343233;
		height: 45px;
		line-height: 45px;

		ul{
			margin-bottom: 0;
		}

		a{
			color: #b3b3b3;
			font-size: 13px;
			text-decoration: none;
			margin: 0 13px;

			&:hover{
				color: #b3b3b3;
				text-decoration: underline;
			}
		}
	}

	.title{
		@include font(family(semibold) 14px normal);
		color: #fff;
		line-height: 1.1;
		margin-bottom: 35px;
	}

	.logo{
		font-size: 14px;

		a{
			display: inline-block;
			margin-bottom: 15px;
		}
	}

	.foot-inform{
		clear: both;
		padding-bottom: 30px;

		.info-content{
			border-top: 1px solid #777777;
			overflow: hidden;
			padding-top: 25px;

			&.pull-left{
				width: 215px;
				margin-right: 7px;
			}
		}

		.link-bordered{
			text-align: center;
			font-size: 14px;
			@include size(32px);
			padding: 0;
			line-height: 32px;
			border-color: #aeadad;

			&:hover, &.active{
				border-color: darken( #adadad, 15%);
			}
		}
	}

	.foot-box{
		max-width: 140px; 
		margin-right: 40px;

		li + li {
			margin-top: 12px;
		}

		&:last-child{
			margin: 0;
		}
	}

	a{
		color: #adadad;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
			color: darken( #adadad, 15%);
		}
	}
}

.news-box{
	border-top: 1px solid #7752a0;
	margin-bottom: 30px;
	padding-top: 27px;

	.title{
		color: #000;
		font-size: 22px;
		margin: 0 0 25px;
	}

	.news-img{
		line-height: 0;
		margin: 0 auto 25px;
		height: 115px;
		overflow: hidden;
		max-width: 380px;

		img{
			width: 100%;
		}
	}

	.news-descr{
		overflow: hidden;

		p{
			margin-bottom: 20px;
		}

		ul, ol{
			position: relative;
			margin-bottom: 20px;
			padding-left: 0;

			li{
				padding-left: 15px;
				position: relative;

				+ li {
					margin-top: 8px;
				}

				&:before{
					@include content(3px);
					@include absolute(top 7px left 4px);
					background-color: #57347e;
				}
			}
		}
	}

	.news-more{
		margin-top: 5px;
		color: #57347e;
		display: inline-block;
	}
}

.overlay{
	display: none;
	@include fixed(top left right bottom);
	background-color: rgba(#000, .85);
	z-index: 50;
}